@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.header{
    background: $color2;
    padding: 20px;
    grid-area: header;
    flex: 0 0 auto;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        strong{
            a{
                @include text();
                color: $accent;
                text-decoration: none;
            }
        }
    }
}